.sessao-dogodiogo { background: #f3f3f3; padding: 48px 0 32px 0; }
.container-dogodiogo { max-width: 700px; margin: 0 auto; text-align: center; }
.dogodiogo-titulo { color: #994C11; font-size: 2rem; font-weight: 700; margin-bottom: 18px; }
.dogodiogo-desc { font-size: 1.2rem; color: #333; margin-bottom: 16px; }
